.title {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.subtitle {
    color: #cfcfcf;
    text-align: center;
    margin: 0;
}

.body {
    color: #777777;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}