.topBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
    height: 1em;
}

.topBarText {

}

.topBarLink, .topBarLink:visited {
    font-size: 2em;
    color: #cfcfcf;
    text-decoration: underline;
    text-decoration-color: #959595;
    text-underline-offset: 0.2em;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.topBarLink:hover {
    font-size: 2.3em;
    color: #a49fe8;
}

.topBarLink:active {
    font-size: 1.7em;
}

.topBarButton {

}